class {{ name_prefix + class_name(doc) }}(with_metaclass(BitFieldMeta, BitField)):
    """
    {{ get_description(doc) }}
    """
    def __init__(self, value=0, byte_offset=None, byte_width=None):
        super({{ name_prefix + class_name(doc) }}, self).__init__(value, byte_offset, byte_width, max_bytes={{ doc.size // 8 }})

{% if 'struct_field' == doc.type %}
    value = BitFieldMember('value', 'value', 0, {{ doc.size }})

{%- endif %}
{% for field in doc.fields %}
    {{ field.short_name }} = BitFieldMember(
        "{{ field.short_name }}",
        """
        {{ get_description(field) }}
        """,
{% if hasattr(field, "bit") %}
        {{ field.bit[0] }},
        {{ field.bit[1] - field.bit[0] }}
{% else %}
        0,
        {{ field.size }}
{% endif %}
    )

{% endfor %}

