class {{ humps.pascalize(doc.short_name.lower()) }}:
    """{{ strip_description(doc.long_description) }}"""

    {% for field in doc.fields %}
      {{ field.short_name }} = {{ hex(field.value) }}
    {% endfor %}

