class {{ humps.pascalize(doc.short_name.lower()) }}:
    """
    {{ get_description(doc) }}
    """

    {% for field in doc.fields %}
      {{ field.short_name }} = {{ hex(field.value) }}
    {% endfor %}

