class {{ class_name(doc) }}(Struct):
    """{{ get_description(doc) }}"""
{%- for container in member_containers %}
{{container}}
{%- endfor %}
    _members = [
{%- for member in struct_members -%}
        "{{ member.short_name }}",
{%- endfor -%}
    ]

    def __init__(self, value):
{%- set offset = namespace(value=0) -%}
{%- for member in struct_members %}
        self._{{ member.short_name }} = self.{{ "_MemberContainer" + class_name(member) }}(0, {{ offset.value }}, {{ member.size // 8 }} )
{%- set offset.value = offset.value + (member.size // 8) %}
{%- endfor %}
        super({{ class_name(doc) }}, self).__init__(value)

{% for member in struct_members %}
    @property
    def {{ member.short_name }}(self):
        return self._{{ member.short_name }}

    @{{ member.short_name }}.setter
    def {{ member.short_name }}(self, value):
        return self._{{ member.short_name }}.set(value)
{% endfor %}

{% for definition in definitions %}
    {{ definition }}
{% endfor %}
